.header-ctn {
    display: flex;
    list-style: none;
    gap: 10;
}

@media all and (max-width:800px) {
    #home {
        display: flex !important;
        flex-direction: column-reverse;
        gap: 50px;

        .main-img {
            min-width: 350px;
        }
    }

    #experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        height: max-content;

        .card {
            text-align: center;
        }
    }

    #skills {
        .skill-container {
            display: flex;
            flex-direction: column;

            .buttons {
                display: flex;
                flex-direction: row;
                overflow: scroll;

                button {
                    min-width: 300px;
                }
            }
        }
        .skills-cards{
            justify-content: center;
        }
    }

    #projects {
        display: flex;
        flex-direction: column;
        height: max-content;
        gap: 150px;

        .sticky-div {
            position: relative;
        }
    }

    #contact {
        display: flex;
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        gap: 30px;

        .item {
            align-items: center;
            justify-content: center;
        }
    }

    .side-model {
        display: flex;
    }

    .component {
        padding: 0 50px;
    }
}